.contact-header {
  text-align: center;
}

form button {
  all: unset;
  margin-top: 1em;
  border-radius: 10px;
  border: 1px solid black;
}

label,
input,
textarea,
form button {
  display: block;
  text-align: center;
  margin: .5em auto;
  width: 100%;
  resize: none;
}

input {
  height: 2.25em;
}

.communcation-container p {
  margin: 1em auto;
  font-size: 1.05em;
}

.contact-button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

.icons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

icon:hover {
  cursor: pointer;
}

@media (min-width: 600px) {
  .contact-grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5em;
  }

  label {
    margin: 1em auto;
  }

  textarea {
    margin-bottom: 2em;
  }

  .communcation-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .icons-container {
    justify-content: space-between;
  }
}