.landing-header {
  text-align: center;
  margin-bottom: .5em;
}

.landing-image {
  width: 100%;
  max-height: 552px;
  border-radius: 10px;
  object-fit: cover;
  margin: 0 auto;
}

.carousel-header {
  text-align: center;
  margin: .75em auto;
  font-size: 1.85em;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.carousel-image {
  border-radius: 10px;
}

.carousel-text {
  margin: .5em auto;
  max-height: 200px;
  overflow-y: scroll;
}

.carousel-activate-edit {
  background-color: aqua;
  border-radius: 10px;
  width: 30%;
  max-width: 150px;
  text-align: center;
}

.carousel-activate-edit:hover {
  cursor: pointer;
  background-color: rgb(0, 164, 164);
}

.edit-photo-container {
  position: relative;
}

.edit-delete-photo {
  position: absolute;
  top: 0;
  right: 0;
}

.carousel-edit-button {
  margin-bottom: 1em;
  background: orange;
  border-radius: 10px;
  color: white;
  width: 25%;
  max-width: 150px;
  text-align: center;
}

.carousel-edit-button:hover {
  cursor: pointer;
  background: rgb(167, 109, 0);
}

.carousel-textarea {
  margin: 0;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.arrow-container {
  display: flex;
  justify-content: space-around;
}

.ratings-container h3 {
  margin-left: 5px;
}

.star-container {
  display: flex;
  margin-bottom: .5em;

}

.ratings-container p {
  margin: 0 auto 1em;
  font-style: italic;
  font-weight: 500;
}

@media (min-width: 810px) {
  .slide.active {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 1.5em;
  }

  .carousel-text {
    max-height: none;
    margin: 0;
    overflow: hidden;
  }

  .carousel-image {
    margin-bottom: 1em;
  }
}

@media (min-width: 900px) {
  .ratings-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
  }

  .rating p {
    width: 75%;
    float: inline-start;
  }

}

@media (min-width: 1200px) {
  .slide.active {
    gap: 3em;
    grid-template-columns: 1fr 1fr;
  }

  .carousel-image {
    margin-bottom: 1.5em;
  }

  .carousel-text {
    align-self: center;
  }
}